doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../styles/reset-password.css")
        style
            include ../styles/reset-password.css
        title Reset password
    body
        div.template-wrapper
            div.email-container
                h1 Reset password
                p You are receiving this email because you requested a password reset. If you did not request this change, you can safely ignore this email. If you did request this change, please reset your password:
                div.activation-button
                    a.activation-link(href=redirectUri) Reset password
                p If that does not works, copy and paste the following link in your browser:
                p #{redirectUri}
